{% extends 'base.html' %}

{% block content %}
    <h1 hidden>{% block title %} Home {% endblock %}</h1>
    <center>
    <h1>Hello Welcome to Rock, Paper, Scissors!</h1>
    <h2>Click "play" to try a match or "about" to learn about the game!</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Rock-paper-scissors_%28rock%29.png/150px-Rock-paper-scissors_%28rock%29.png" width="232" height="220">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Rock-paper-scissors_%28paper%29.png/150px-Rock-paper-scissors_%28paper%29.png" width="232" height="220">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Rock-paper-scissors_%28scissors%29.png/150px-Rock-paper-scissors_%28scissors%29.png" width="232" height="220">
    <center>
{% endblock %}