{% extends 'base.html' %}

{% block content %}
    <h1 hidden>{% block title %} Play Rock, Paper, Scissors {% endblock %}</h1>
    <center>
    <h1>You lose!</h1>
    <img id="limg" src="https://th.bing.com/th/id/R.0086a15c768538ccd61079a441a1fecc?rik=BGOe2vZqf5ZqEA&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fnTX%2fLjj%2fnTXLjj6Ec.png&ehk=OmGqBrc6XySxgesy7pZ9SP6CzN90v%2bD892Q%2bewTMJec%3d&risl=&pid=ImgRaw&r=0" width="232" height="220">
    <img src="https://th.bing.com/th/id/R.16108e0ee1d62b09a69b2bef00096bfc?rik=TlGGtXQQm4OfiA&riu=http%3a%2f%2fwww.abcteach.com%2ffree%2fm%2fmathsymbolslessthanbnw.jpg&ehk=cFYct%2bByEoiF9KeFblBxPS6LlWX2JhhKfqaeOi4PjBw%3d&risl=&pid=ImgRaw&r=0" width="232" height="220">
    <img id="rimg" src="https://th.bing.com/th/id/R.4105eeafff25c86ca46ceb05022cfa4d?rik=I%2fykKwUcqww%2fsw&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2frock-clipart-transparent%2frock-clipart-transparent-5.png&ehk=p%2fVhblTWssuadic4aDilnAziBSS%2fVocydWU8CDkD5YI%3d&risl=&pid=ImgRaw&r=0" width="232" height="220">
    </center>
    <a class="nolink" href="{{ url_for('play') }}">
        <h6 id="L">Play Again</h6>
    </a>
    <a class="nolink" href="{{ url_for('hello') }}">
        <h6 id="R">Quit</h6>
    </a>
{% endblock %}